@model Category
<div class="container">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Category Details</h6>
        </div>
        <div class="card-body">
            <p><strong>Id: </strong> @Model.Id</p>
            <hr />
            <p><strong>Title: </strong> @Model.Title</p>
            <hr />
            @if (Model.Jobs.Count != 0)
            {
                <p><strong>Category:</strong> @Model.Title</p>
                <hr />
            }
            <p><strong>Create time: </strong>@Model.CreatedDate</p>
            <hr />
            @if (Model.UpdatedDate is not null)
            {
                <p>Update time: @Model.UpdatedDate</p>
                <hr />
            }
            @if(Model.IsDeleted==true)
            {
                <p><strong>Delete time: </strong>@Model.DeletedDate</p>
                <hr/>
            }
            <div class="d-flex justify-content-between">
                <a class="btn btn-outline-secondary" asp-controller="Category" asp-action="Index">Cancel</a>
            </div>
        </div>
    </div>
</div>
